name: CI Pipeline

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests with Coverage
        # Spustí testy a změří pokrytí kódu (zatím žádné testy nejsou, ale pytest projde, pokud nenajde chybu)
        run: |
          pytest --cov=app --cov-report=term --cov-report=xml